table{
    width: 600px;
    
}
th{
    text-align: left;
}
table, caption, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
}
caption{
    background-color: #b8b7b7;
    font-size: 23px;
}
th, td{
    padding: 35px;
    font-size: 20px;
}
tr:nth-child(even){
    background-color: blueviolet;
}
tr:nth-child(odd){
    background-color: rosybrown;
}
body{
    background-image: url(sky.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 45px 300px;
}